// Font imports
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

// Colors
$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue: hsl(207, 26%, 17%);
$darkest-blue: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$mid-gray: hsl(0, 0%, 80%);
$gray: hsl(0, 0%, 90%);
$light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Fonts
$primary-font: "Nunito Sans", sans-serif;

$font-bold: 800;
$font-regular: 600;
$font-light: 300;

// Shadow
$shadow: 1px 0px 14px 3px rgb(0 0 5 / 25%);

// Radius
$radius: 5px;