@import "./variables.scss";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $primary-font;
  background-color: $light-gray;
  color: $darkest-blue;
  height: 100%;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

.root,
.App {
  height: 100%;
  font-family: $primary-font;

  header {
    align-items: center;
    background-color: $white;
    color: $darkest-blue;
    display: flex;
    font-weight: $font-regular;
    height: 80px;
    justify-content: space-between;
    padding: 1% 5%;
    box-shadow: 0 0 5px 0 rgb(0 0 5 / 25%);

    .title {
      font-weight: $font-bold;
    }

    .theme-mode {
      span {
        margin-left: 10px;
      }
    }
  }

  .main {
    padding: 0 5%;
    font-size: 14px;

    // BUTTONS, INPUTS
    .primary-button {
      background-color: $white;
      border-radius: $radius;
      border: 0;
      box-shadow: $box-shadow;
      -webkit-box-shadow: $box-shadow;
      width: 100%;
    }

    .btn {
      font-size: 16px;
      height: 45px;
      padding: 12px 40px;
      width: fit-content;

      span {
        padding-left: 20px;
      }
    }

    .sm-btn {
      padding: 4px 25px;
      margin: 0 5px;
      width: fit-content;
    }

    .input {
      height: 55px;
    }

    // FILTER
    .buttons-container {
      display: flex;
      justify-content: space-between;
      margin: 50px 0 15px 0;
    }

    .filter {
      display: flex;
      flex-direction: column;
    }

    .filter-dropdown {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0 20px;
    }

    .filter-menu {
      background-color: $white;
      border-radius: $radius;
      margin-top: 60px;
      padding: 15px 0;
      position: absolute;
      z-index: 100;

      .filter-item {
        margin: 0;
        padding: 5px 20px;
        width: 100%;

        &:hover {
          color: $mid-gray;
        }
      }
    }

    .filter-dropdown,
    .filter-menu {
      width: 200px;
    }

    // SEARCH
    .search {
      position: relative;
      width: 33%;

      input {
        padding-left: 70px !important;
      }

      i {
        align-items: center;
        color: $mid-gray;
        display: flex;
        padding-left: 30px;
        pointer-events: none;
        position: absolute;

        svg {
          height: 55px;
        }
      }
    }

    // CARD
    .card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      justify-content: space-between;
    }

    .card {
      border-radius: $radius;
      box-shadow: $box-shadow;
      -webkit-box-shadow: $box-shadow;
      cursor: pointer;
      height: 360px;
      margin: 35px 0;
      overflow: hidden;
      transition: transform 200ms ease-in;
      width: 20%;

      &:hover {
        transform: scale(1.02);
      }

      .card-title {
        font-size: 20px;
        font-weight: $font-bold;
      }

      .card-flag {
        height: 50%;
        img {
          border-radius: $radius $radius 0 0;
        }
      }

      .card-details {
        height: 50%;
        padding: 15px 20px;
      }
    }

    .flag {
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .card-subtitle {
      font-weight: $font-bold;
      white-space: nowrap;
    }

    // CARD DETAIL
    .card-detail-container {
      display: flex;
      font-size: 16px;
      height: 400px;
      margin-top: 70px;
      width: 100%;

      .detail-flag {
        margin-right: 4%;
        width: 50%;
      }

      .detail-description {
        margin-left: 4%;
        width: 50%;
        display: flex;
        flex-direction: column;

        ul {
          padding: 0;
        }

        .details-list {
          display: flex;
          justify-content: space-between;

          li {
            padding: 5px 0;
            list-style-type: none;
          }
        }

        h1 {
          font-weight: $font-bold;
        }

        .detail-footer {
          align-items: baseline;
          display: flex;
          margin-bottom: 40px;
          margin-top: auto;

          .border-countries {
            display: flex;
            flex-flow: wrap;
            margin-left: 15px;

            span {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  // LOADER
  @keyframes loader {
    0% {
      opacity: 0;
      width: 50px;
      height: 50px;
    }
    50% {
      opacity: 1;
      width: 100px;
      height: 100px;
    }
    100% {
      opacity: 0;
      width: 50px;
      height: 50px;
    }
  }

  #loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid $darkest-blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: loader 3s infinite;
  }

  @media (max-width: 600px) {
    header {
      .title {
        font-size: 16px;
      }

      .theme-mode {
        font-size: 14px;
      }
    }

    .main {
      margin-top: 6%;

      .button {
        height: 48px;
      }

      .buttons-container {
        flex-direction: column;
        margin: 15px 0;
      }

      .filter {
        margin-top: 20px;
        .filter-menu {
          margin-top: 60px;
        }
      }

      .search {
        margin-bottom: 15px;
        width: 100%;

        i {
          svg {
            height: 48px;
          }
        }
      }

      .card-container {
        display: flex;
        justify-content: center;
      }

      .card {
        margin: 15px 0;
        width: 100%;
        margin: 15px 30px;
      }

      .card-detail-container {
        flex-direction: column;
        height: auto;

        .detail-description,
        .detail-flag {
          margin: 0;
          width: 100%;

          .card-title {
            font-size: 28px;
            margin-top: 30px;
          }

          .details-list {
            flex-direction: column;
            margin-bottom: 20px;

            :first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
